@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    /* font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
}

.hr01{
    position: relative;
    height: 1.0px;
    border-width: 0;
    /* background-image: -webkit-repeating-linear-gradient(left,transparent 0% #3f5252 50%,transparent 100%); */
    background-image: linear-gradient(90deg,transparent 0%, #3f5252 50%,transparent 100%);
}
select{
    height:26px;
}
.form_search,.form_search_bottom {
    font-family: 'Alice', serif;
    padding-top: 0.4em;
    padding-bottom: 7px;
    padding-left: 0.8em;
}
.form_search_bottom,.page_serch{
    text-align : center ; 
    width:100%;
}
.form_search input,.form_search_bottom input{
    margin-right: 7px;
}
.addbook_button{
    border:0;
    float: right;
    text-align:right;
    width:32px;
    height:32px;
    background: url(../ico/addbook.png) left no-repeat;
}
.addbook_button:hover {
    background: url(../ico/addbookhv.png) left no-repeat;
}
.button{
    appearance: none;
    border:0;
    border-radius: 5px;
    background: #cecccc;
    color: #141414;
    padding: 3px 10px;
    font-size: 12px;
}
.button:hover {
    background: #8d8e8f;
}
.checkout_button{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #688fdd;
    color: #fff;
    padding: 6px 14px;
    font-size: 14px;
}
.checkout_button:hover {
    background: #2f59b3;
}
.return_button{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #61cc85;
    color: #fff;
    padding: 6px 14px;
    font-size: 14px;
}
.return_button:hover {
    background: #2fb362;
}

p{
    margin: 2px;
}
table {
    border-collapse: collapse;
    width: 100%;
    /* border: solid 1px green; */
}
thead tr th{
    font-family: 'Alice', serif;
    /*border-bottom:double 3px green;*/
    background-color: #3f5252; 
    /* background: linear-gradient(to bottom, #059167, #5eb89d); */
    color: #f8f1f1;
    font-weight: 400;
    font-size: 1.2em;
}

.tr_div{
    font-size: 0.8em;
}

th,td{
    /* border: solid 1px green; */
    padding: 0.5em;
    /* color: #207275; */
    color: #3f5252;
    font-size: 0.9em;
}

.td_notfound{
    font-size: 1.5em;
}
.td_id{
    text-align: center;
}
.td_title{
    font-weight: bold;
    /* color: #5c4416; */
    color: #695124;
    font-size: 0.9em;
}
.td_details{
    font-size: 0.9em;
}
#td_description{
    white-space: pre-line;
}
.td_div{
    font-size: 0.8em;
    color: #7a9697;
}
.td_rtn{
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 0.8em;
    color: #7a9697;
}
.td_isbn{
    font-style: italic;
    font-size: 0.9em;
    font-weight: normal;
    color: #7a9697;
}

tr:nth-child(even) td{
    background: #eee;
}
th:nth-child(1){
    width: 5%;
}
th:nth-child(2){
    width: 10%;
}
th:nth-child(3){
    width: 20%;
}
th:nth-child(4){
    width: 50%;
}
th:nth-child(5){
    width: 15%;
}