body{
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    /* font-weight:lighter; */
}
table {
    border-collapse: collapse;
    /* border: solid 1px green; */
}
thead tr th{
    /*border-bottom:double 3px green;
    background-color: #bbedce; */
    background: linear-gradient(to bottom, #059167, #5eb89d); 
    color: #f8f1f1;
}
th,td{
    /* border: solid 1px green; */
    padding: 0.5em;
}
tr:nth-child(even) td{
    background: #eee;
}
th:nth-child(1){
    width: 5%;
}
th:nth-child(2){
    width: 10%;
}
th:nth-child(3){
    width: 10%;
}
th:nth-child(4){
    width: 10%;
}
th:nth-child(5){
    width: 10%;
}
th:nth-child(6){
    width: 5%;
}
th:nth-child(7){
    width: 20%;
}
th:nth-child(8){
    width: 25%;
}
th:nth-child(9){
    width: 5%;
}