Table {
    border-collapse: collapse;
    border: solid 1px green;
}
thead tr th{
    border-bottom:double 3px green;
    /* background-color: #bbedce; */
    background: linear-gradient(to bottom, #056791, #1f9fe9); 
    color: #f8f1f1;
}
th,td{
    border: solid 1px green;
    padding: 0.5em;
}
th:nth-child(1){
    width: 5%;
}
th:nth-child(2){
    width: 10%;
}
th:nth-child(3){
    width: 10%;
}
th:nth-child(4){
    width: 10%;
}
th:nth-child(5){
    width: 10%;
}
th:nth-child(6){
    width: 5%;
}
th:nth-child(7){
    width: 20%;
}
th:nth-child(8){
    width: 5%;
}
th:nth-child(9){
    width: 25%;
}