@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
    font-family: 'Noto Sans JP','ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    /* font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
}
table {
    border-collapse: collapse;
    /* border: solid 1px green; */
}
thead tr th{
    /*border-bottom:double 3px green;*/
    background-color: #3b4e4e; 
    /* background: linear-gradient(to bottom, #059167, #5eb89d); */
    color: #f8f1f1;
    font-weight: 200;
}
th,td{
    /* border: solid 1px green; */
    padding: 0.5em;
    /* color: #207275; */
    color: #3b4e4e;
    font-size: 0.8em;
}

.td_title{
    font-weight: bold;
    color: #207275;
}
.td_details{
    font-size: 0.8em;
}
.td_div{
    /* font-size: 0.7em; */
    color: #677a7a;
}

tr:nth-child(even) td{
    background: #eee;
}
th:nth-child(1){
    width: 5%;
}
th:nth-child(2){
    width: 15%;
}
th:nth-child(3){
    width: 40%;
}
th:nth-child(4){
    width: 15%;
}
th:nth-child(5){
    width: 15%;
}
th:nth-child(6){
    width: 10%;
}