@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
  font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  border-left: 40px solid #695124;
  padding-left: 50px;
}
.error{
  font-size: 0.9em;
  color: #d45454;
}
p{
  font-size: 0.8em;
  margin: 0;
  color: #7a9697;
}
.dt_title{
  font-weight: bold;
  color: #695124;
  font-size: 0.9em;
}
.dt_isbn{
  font-style: italic;
  font-size: 0.9em;
  font-weight: normal;
  color: #7a9697;
}
.dt_details{
  font-size: 0.9em;
  border-left: 5px solid #695124;
  padding-left: 5px;
}
dd{
  padding: 3px;
  font-size: 0.8em;
  color: #7a9697;
}
.button{
  appearance: none;
  border:0;
  border-radius: 5px;
  background: #cecccc;
  color: #141414;
  padding: 6px 14px;
  font-size: 14px;
}
.button:hover {
  background: #8d8e8f;
}
.return_button{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #61cc85;
  color: #fff;
  padding: 6px 14px;
  font-size: 14px;
}
.return_button:hover {
  background: #2fb362;
}
.fa{
  font-size:30px;
}
#rating{
  font-size:0;
  width:140px;
}